:root {
    // font sizes
    --font-size-h1: 96px;
    --font-size-h2: 64px;
    --font-size-h3: 41px;
    --font-size-h4: 28px;
    --font-size-h5: 24px;
    --font-size-h6: 22px;
    --font-size-xxxl: 20px;
    --font-size-xxl: 18px;
    --font-size-xl: 16px;
    --font-size-l: 14px;

    // brand colors
    --shop-white: #FFFFFF;
    --shop-black: #000000;
    --shop-gray: #E6EFF5;
    --shop-gray-light: #F5F5F5;
    --shop-gray-dark: #B1B1B1;
    --shop-red: #ff3333;

    // widths
    --max-width-content: 1360px;
    --max-width-xl: 1280px;
    --max-width-lg: 1024px;
    --max-width-md: 768px;
    --max-width-sm: 425px;

    // heights
    --navbar-height: 70px;
    --card-height: 410px;

    // paddings
    --padding-xxxl: 200px;
    --padding-xxl: 150px;
    --padding-xl: 100px;
    --padding-lg: 50px;
    --padding-base: 33px;
    --padding-content: 25px;
    --padding-m: 16px;
    --padding-s: 10px;

    // border
    --border-lg: 98px;
    --shop-border-main: 24px;

    // z-index
    --z-index-header: 50;
}